$theme-color: #0F9D58;
$container-width: 1170px;


$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;

$info-cell-width: 50px;
$cell-width: 100px;
$info-cell-background: #f9f9f9;
$border-color: #c0c0c0;

$creator-add-height: 220px;
